<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficodona [tittle]="data.grafico1.leyenda" [doughnutChartLabels]="data.grafico1.labels" [doughnutChartData]="data.grafico1.data" [doughnutChartType]="data.grafico1.type"></app-graficodona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficodona [tittle]="data.grafico2.leyenda" [doughnutChartLabels]="data.grafico2.labels" [doughnutChartData]="data.grafico2.data" [doughnutChartType]="data.grafico2.type"></app-graficodona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficodona [tittle]="data.grafico3.leyenda" [doughnutChartLabels]="data.grafico3.labels" [doughnutChartData]="data.grafico3.data" [doughnutChartType]="data.grafico3.type"></app-graficodona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficodona [tittle]="data.grafico4.leyenda" [doughnutChartLabels]="data.grafico4.labels" [doughnutChartData]="data.grafico4.data" [doughnutChartType]="data.grafico4.type"></app-graficodona>
            </div>
        </div>
    </div>
</div>